:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  color: white;
  background: black;
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_v2_96b6d74a.jpeg?region=0%2C0%2C2048%2C1600);
  background-size: 100% auto;
  background-repeat: repeat-y;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px;
}

.List {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.MemberCard {
  list-style-type: none;
  background: #1d1e1f;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  min-width: 300px;
}

.MemberImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.MemberNameLink,
.MemberNameLink:visited {
  color: #b5b7b7;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.MemberNameLink:hover {
  color: white;
}

.MemberHomeworld {
  text-transform: capitalize;
}

.Map {
  border-radius: 10px;
  overflow: hidden;
  flex: 500px;
}
